@model ICollection<Showaspnetcore.Model.Paciente>

@{
    Layout = "_Layout";
}

<section class="content-header">

    <ol class="breadcrumb">
        <li><a asp-controller="Pacientes" asp-action="Index"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Pesquisa de Paciêntes</li>
        <li class="pull-right"><a asp-controller="Pacientes" asp-action="Create"><i class="fa fa-plus-circle "></i> Novo</a></li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- box (Contas Receber) -->
        <div class="x_panel">
            <form asp-action="Index" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                <p>
                    Title: @Html.TextBox("pesquisa")
                    <input type="submit" value="Filter" />
                </p>
            </form>
            <div class="box-body">
                <table id="example1" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Paciênte</th>
                            <th>Cliente</th>
                            <th></th>
                            <th></th>
                            <th class="text-right"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                    {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Proprietario</td>
                                <td></td>
                                <td></td>
                                <td class="project-actions">
                                    <a asp-controller="Pacientes" asp-action="Detail" asp-route-pacienteGuid=@item.PacienteGuid class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Detalhe </a>
                                </td>
                                <td class="project-actions">
                                    <a asp-controller="Pacientes" asp-action="Delete" asp-route-pacienteGuid=@item.PacienteGuid class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Deletar </a>
                                </td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>