@model IEnumerable<Exame>
@{
    Layout = "_LayoutNice";
    int PageNumber = (int)ViewData["PageNumber"];
    int PageSize = (int)ViewData["PageSize"];
    int TotalItemCount = int.Parse(ViewData["TotalItemCount"].ToString());
}

<div class="row">

    <div class="panel-body">
        <div class="table-responsive">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form asp-action="Index" id="demo-form2" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="pesquisa" placeholder="Digite aqui sua triagem">
                    </div>
                    <input type="submit" value="Pesquisar" class="btn btn-info" />
                </form>
                <!-- box (Contas Receber) -->
                <div class="x_panel">
                    <div class="table-responsive">
                        <table id="example1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Exame</th>
                                    <th></th>
                                    <th class="text-right"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Descricao</td>
                                        <td class="project-actions">
                                            <a asp-controller="Exames" asp-action="Detail" asp-route-id=@item.Id class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Detalhe </a>
                                        </td>
                                        <td class="project-actions">
                                            <a asp-controller="Exames" asp-action="Delete" asp-route-id=@item.Id class="btn btn-white btn-sm"><i class="icon_close_alt2"></i> Deletar </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                    <cs-pager cs-paging-pagesize="@PageSize"
                              cs-paging-pagenumber="@PageNumber"
                              cs-paging-totalitems="@TotalItemCount"
                              cs-pagenumber-param="page"
                              asp-controller="Exames"
                              asp-action="Index"></cs-pager>

                </div>
            </div>
        </div>
    </div>
</div>

@section Breadcrumbs {
    <li><i class="fa fa-home"></i><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><i class="icon_documents_alt"></i>Exames</li>
    <span class="pull-right">
        <a asp-action="Create">Criar novo</a>
    </span>
}
@section Scripts {
    <script type="text/javascript">
        $("[data-toggle=tooltip]").tooltip();
    </script>
}
