@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNice";
}

<div class="row">
    <div class="col-md-3">
        <h2>Que somos (ADM)</h2>
        <ul>
            <li>Instituto de cardiologia veterinária(ICVET) e o mais moderno e completo centro de diagnóstico e tratamento de doenças cardiovasculares
                     de cães e gatos da américa latina.</li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
