@model IndentificacaoViewModel
@{
    Layout = "_LayoutMedical";

}
<div class="intro-resultado">
    <div class="row">
        <div class="col-md-offset-3 col-md-5">
            <div class="form-login">
                <h4>Consulta de Resultados</h4>
                <form asp-area="" asp-controller="Resultados" asp-action="Index" method="post">
                    @if (TempData["NossoErro"]  != null)
                    {
                        <div class="alert alert-block alert-danger fade in">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="icon-remove"></i>
                            </button>
                            <strong>Ops!</strong> @TempData["NossoErro"].
                        </div>
                    }
                    <h4> </h4>
                    <input type="text" asp-for="ChaveAcesso" class="form-control input-sm chat-input" placeholder="Chave de acesso"/>
                    <br/>
                    <div class="wrapper">
                        <span class="group-btn">
                            <button type="submit" class="btn btn-primary btn-md">Acessar <i class="fa fa-sign-in"></i></button>
                        </span>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>