@model IndentificacaoViewModel
@{
    Layout = "_LayoutMedical";

}
<div class="intro-resultado">
    <div class="row">
        <section class="panel">
            <header class="panel-heading tab-bg-primary ">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">Resultado de exames</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        <form asp-area="" asp-controller="Resultados" asp-action="Index" method="post">
                            @if (TempData["NossoErro"] != null)
                            {
                                <div class="alert alert-block alert-danger fade in">
                                    <button data-dismiss="alert" class="close close-sm" type="button">
                                        <i class="icon-remove"></i>
                                    </button>
                                    <strong>Ops!</strong> @TempData["NossoErro"].
                                </div>
                            }
                            <input type="text" asp-for="ChaveAcesso" class="form-control input-sm chat-input" placeholder="Chave de acesso" />
                            <div class="wrapper">
                                <span class="group-btn">
                                    <button type="submit" class="btn btn-primary btn-md">Acessar <i class="fa fa-sign-in"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>