@using Showaspnetcore.Data
@model ICollection<Showaspnetcore.Data.ResultadoExame>

@{
    Layout = "_LayoutNice";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- box (Contas Receber) -->
        <div class="x_panel">
            <form asp-action="Index" id="demo-form2" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="pesquisa" placeholder="Digite aqui sua triagem">
                </div>
                <input type="submit" value="Pesquisar" class="btn btn-info" />
            </form>
            <div class="box-body">
                <table id="example1" class="table table-striped table-advance table-hover">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Paciênte</th>
                            <th>Exame</th>
                            <th></th>
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                <td>@item.Data.ToString("dd-MM-yyyy")</td>
                                <td>@item.Paciente.Name</td>
                                <td>@item.Exame</td>
                                <td></td>
                                <td class="project-actions">
                                    <a asp-area="Admin" asp-controller="Resultado" asp-action="Edit" asp-route-resultadoGuid=@item.ResultadoExameGuid class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Detalhe </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>

@section Breadcrumbs {
    <li><i class="fa fa-home"></i><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><i class="icon_documents_alt"></i>Resultados</li>
    <span class="pull-right">
        <a asp-action="Create">Criar novo</a>
    </span>
}