@using System.Threading.Tasks
@model LoginViewModel
@inject SignInManager<IdentityUser> SignInManager

@{
    Layout = null;
    ViewData["Title"] = "Log in";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.ico">

    <title>Acesso ao sistema de resultados online.</title>

    <!-- Bootstrap CSS -->
    <link href="~/theme/niceadmin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/theme/niceadmin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/theme/niceadmin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/theme/niceadmin/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/theme/niceadmin/css/style.css" rel="stylesheet">
    <link href="~/theme/niceadmin/css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-body">
    <div class="container">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="login-form" role="form">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group">
                    <span  asp-validation-for="Email" class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" asp-for="Email" class="form-control" placeholder="Usuario" autofocus>
                </div>

                <div class="input-group">
                    <span asp-validation-for="Password" class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" asp-for="Password"  class="form-control" placeholder="Senha">
                </div>


                <label class="checkbox">
                    <input type="checkbox"> Lembrar
                    <span class="pull-right"> <a asp-action="ForgotPassword"> Esqueceu sua senha?</a></span>
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Acessar</button>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
