@{
    Layout = "_LayoutNice";
    ViewData["Title"] = "Redefinir a confirmação da senha";
}

<h1>@ViewData["Title"].</h1>
<p>
    Sua senha foi redefinida. Por favor <a asp-controller="Account" asp-action="Login">Clique aqui para entrar</a>.
</p>
