@{
    ViewData["Title"] = "Não autorizado";
}
<div class="panel mb25">
    <div class="panel-heading">
        <span>Não autorizado</span>
    </div>
    <div class="panel-body">
        <p>Você não está autorizado a executar esta operação.</p>
    </div>
</div>
